.restoran-rezervasyon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95vw;
  height: 80vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  position: relative;
  gap: 20px;
}

.restoran-sol-panel {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.restoran-sag-panel {
  flex: 2;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  color: white;
  overflow-y: auto;
}

.select-box {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.restoran-karti {
  border: 2px solid white;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
}

.restoran-karti:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
